*{
font-family: 'Lato',sans-serif;
font-family:'Work Sans',sans-serif;
font-family: 'work Sans',sans-serif;    
}
body{

}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 2%;
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;  
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none; 
    color: #424242; 
    color: var(--Dark-02, #424242);
font-size: 18px;
font-weight: 500;

}
.title-architect{
color: var(--Dark-01, #131313);
font-size: 3rem;
font-weight: 700;
}
.brand-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;  
   
}
.brand-bio{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.btn-explore{
padding: 15px;
background-color:#FF900E;
border-radius: 0.5rem;
color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 500;
border: none;
cursor: pointer;
}
.banner{
    text-align: center;
}
.img-banner{
    width: 70%;
    border-radius:0.5rem;
    margin-left: 10%;
    margin-right: 10%;
  
}
main{
    max-width:1440px;
    margin: 70px auto;
}
.grid-images{
    display: grid;
grid-template-columns: repeat(2,1fr);
gap: 1%;
}
.c{
    height: 100%;
    width: 100%;
}

.grid{
    display: flex;
    align-items: center;  
    gap:80px; 
}
.grid-content{
 padding-left: 70px;
 padding-right: 70px;
 align-items: flex-start;
}
.grid-title{
    color: var(--Dark-03, #727272);
font-size: 3rem;
font-weight: 500;
}
.grid-bio{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}
.of-our{color: var(--Dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
  
}
.features{
    color: #FF900E;
font-size: 3rem;
font-weight: 700;
}
.features-title{
    color: var(--Dark-01, #131313);
    font-size: 35px;
    font-weight: 700;
}
.feature{
    display: flex;
    gap: 50px;
}
.img-architect{
    width: 450px;
    height: 580px;
    padding-top: 20px;
    padding-right: 100px;
}
.facts{
    display: flex;
    gap:5%;
}
.facts-div{
    border: 1px solid #FF900E ;
    text-align: center;
    padding: 5% 6%;
    border-radius: 5px;
    font-size: 2.8rem;
    line-height: 20px;
}
.our-sponsor{
    text-align: center;
    color: var(--Dark-01, #131313);
    font-size: 35px;
    font-weight: 700;
}
.img-social{
    display: flex;
    gap: 5%;
    justify-content: center;
    
}
footer{
    background: #FFF4E7;
    padding: 3%;
    width: 65%;
    margin-left: 20%;  
    height:20%;
}
@media screen and (max-width: 576px){
          body,nav, header,footer,main,h1,h2,h3,h4,h5,h6,p{
            flex-direction: column;
           }
      .img-architect,.img-social,.our-sponsor,.facts-div,.facts,.feature,.features,.features-title,.of-our,.grid,.grid-bio,.grid-content,.grid-images,.grid-title.title-architect{
        flex-direction: column;
      }
      .img-social{
        width: 30%;
        height: 30%;
        padding-left: 35%;
      }
}